{% include '/admin/header.html' %}   
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="container1">
      
       {%if member_object is defined%}
          
        <!-- Edit -->
        {%for p in member_object%}
      
          <form class="form-horizontal" action="/admin/member/edit/{{p.slug}}/" method="POST" id="frm" enctype="multipart/form-data">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                  <div class="alert" style="width:100%"> 
                    <center> 
                      {{ message }}
                    </center>
                  </div>
                {% endfor %}
            {% endif %}
          {% endwith %}

          <h5 class="titlePost">update your partner data </h5>

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #999; font-weight: bold; padding: 0px 5px;">Member Name: </div>
            <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5" style="padding: 5px; margin: 0px;">
            <input type="text" name="name" id="name" class="form-control formChange" value="{{p.name}}" required="">
            </div>
          </div>
          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #999; font-weight: bold; padding: 0px 5px;">Member Position: </div>
            <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5" style="padding: 5px; margin: 0px;">
            <input type="text" name="possition" id="possition" class="form-control formChange" value="{{p.possition}}" required>
            </div>
          </div>

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #999; font-weight: bold; padding: 0px 5px;">Facebook Link: </div>
            <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5" style="padding: 5px; margin: 0px;">
            <input type="text" name="facebook" id="facebook" class="form-control formChange" value="{{p.facebook}}" required>
            </div>
          </div>

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #999; font-weight: bold; padding: 0px 5px;">Linkedin Link: </div>
            <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5" style="padding: 5px; margin: 0px;">
            <input type="text" name="linkin" id="linkin" class="form-control formChange" value="{{p.linkin}}" required="">
            </div>
          </div>

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #999; font-weight: bold; padding: 0px 5px;">Select member duty: </div>
            <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5" style="padding: 5px; margin: 0px;">
              <div class="form-group" style="padding: 0px 15px;">
                <select  name="duty" class="form-control formChange">
                  <option value="It's People">It's People</option>
                  <option value="Board of directors">Board of directors</option>
                  <option value="Advisors">Advisors</option>
                  <option value="previous volunteers">previous volunteers</option>
                </select>
              </div>
            </div>
          </div>
          
          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10 customize-dec">
              <label style="color: #999;">Update your image</label>
              <input type="file" name="feature_image" id="feature_image" style="display:none;">
              <input type="text" value="" name="all_removed_images" style="display:none;" />
              {% if p.feature_image == '' %}
                <img src="/static/admin/img/no-img.png" class="img-responsive uploadImg img-feature-image" alt="Image">
              {%else%}
                <img src="/static/images/images/{{p.feature_image}}" class="img-responsive uploadImg img-feature-image" alt="Image">
              {%endif%}
            </div>
          </div>

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;display:none;">
            <input type="file" name="other_image[]" style="display:none">
          </div>


          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10" style="padding: 5px; margin: 0px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #999; font-weight: bold; padding: 0px 5px;">Update text: </div>
              <div class="editable" style="margin: 0px;">
                <p>{{p.detail|safe}}</p>
              </div>
              <textarea name="detail" id="summernote"></textarea>
          </div>

          <br>
          <br>
          <br>

          <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
            <button type="submit" class="btn btn-default hidden-xs buttonPost" aria-hidden="true" style="border:none;float: right; clear: both;" onclick="return check();"> Submit
            </button>
          </div>

        </form>
        {%endfor%}
        {%else%}
         <!-- add -->
          <form class="form-horizontal" action="/admin/member/add/" method="POST" id="frm" enctype="multipart/form-data">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                  <div class="alert" style="width:100%"> 
                    <center> 
                      {{ message }}
                    </center>
                  </div>
                {% endfor %}
            {% endif %}
          {% endwith %}

          <h5 class="titlePost">please feel free to create your member</h5>


          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #999; font-weight: bold; padding: 0px 5px;">Member Name: </div>
            <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5" style="padding: 5px; margin: 0px;">
            <input type="text" name="name" id="name" class="form-control formChange">
            </div>
          </div>
          
          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #999; font-weight: bold; padding: 0px 5px;">Member Position: </div>
            <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5" style="padding: 5px; margin: 0px;">
            <input type="text" name="possition" id="possition" class="form-control formChange">
            </div>
          </div>

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #999; font-weight: bold; padding: 0px 5px;">Facebook Link: </div>
            <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5" style="padding: 5px; margin: 0px;">
            <input type="text" name="facebook" id="facebook" class="form-control formChange">
            </div>
          </div>

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #999; font-weight: bold; padding: 0px 5px;">Linkedin Link: </div>
            <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5" style="padding: 5px; margin: 0px;">
            <input type="text" name="linkin" id="linkin" class="form-control formChange">
            </div>
          </div>

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #999; font-weight: bold; padding: 0px 5px;">Select member duty: </div>
            <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5" style="padding: 5px; margin: 0px;">
              <div class="form-group" style="padding: 0px 15px;">
                <select  name="duty" class="form-control formChange">
                  <option value="It's People">It's People</option>
                  <option value="Board of directors">Board of directors</option>
                  <option value="Advisors">Advisors</option>
                  <option value="previous volunteers">previous volunteers</option>
                </select>
              </div>
            </div>
          </div>
          

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10 customize-dec">
              <label style="color:#999;">Upload your image</label>
              <input type="file" name="feature_image" id="feature_image" style="display:none;">
              <img src="/static/admin/img/no-img.png" class="img-responsive uploadImg img-feature-image" style="min-width:120px;">
            </div>
          </div>

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;display:none;">
            <input type="file" name="other_image[]" style="display:none">
          </div>

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10" style="padding: 5px; margin: 0px;">
              <div class="editable" style="margin: 0px;">
              </div>
              <textarea name="detail" id="summernote"></textarea>
          </div>

          <br>
          <br>
          <br>

          <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
            <button type="submit" class="btn btn-default hidden-xs buttonPost" aria-hidden="true" style="border:none;float: right; clear: both;" onclick="return check();"> Submit
            </button>
          </div>

        </form>

        {%endif%}
        
      </div><!--end container1-->

      <div class="container1" style="padding-top: 0px;">


        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col hidden-sm hidden-md hidden-lg">
            <!-- Accent-colored raised button with ripple -->
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Share</button>
        </div>
      </div>
      </div><!--end container1-->

    </div>
  </main>
</div>

<!-- <script type="text/javascript" src="/static/admin/js/jquery-3.1.0.min.js"></script> -->

{% include '/admin/footer.html' %} 
<script type="text/javascript">
  //feature image
  $('.img-feature-image').click(function(){
    $('input[name="feature_image"]').click();
  });

   function readURL1(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('.img-feature-image').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$('input#feature_image').change(function(){
    readURL1(this);
});
</script>
<script type="text/javascript">


  //input only number
    $("#price").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl+A, Command+A
            (e.keyCode == 65 && ( e.ctrlKey === true || e.metaKey === true ) ) || 
             // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    
</script>

