{% include '/admin/header.html' %}   
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="container1">
      
       {%if post is defined%}
          
        <!-- Edit -->
        {%for p in post%}
          <form class="form-horizontal" action="/admin/post/edit/{{p.slug}}/" method="POST" id="frm" enctype="multipart/form-data">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                  <div class="alert" style="width:100%"> 
                    <center> 
                      {{ message }}
                    </center>
                  </div>
                {% endfor %}
            {% endif %}
          {% endwith %}

          <h5 class="titlePost">please feel free to update your post</h5>

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #999; font-weight: bold; padding: 0px 5px;">Title: </div>
            <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5" style="padding: 5px; margin: 0px;">
              <input type="text" name="title" id="title" class="form-control formChange" value="{{p.title}}">
            </div>
          </div>

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #999; font-weight: bold; padding: 0px 5px;">Select your category: </div>
            <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5" style="padding: 5px; margin: 0px;">
                {{ form.category_id(class_="form-control formChange") }}
                <script type="text/javascript">
                  $('select[name="category_id"] option[value="{{p.category_id}}"]').attr('checked','checked');
                  // alert("{{p.category_id}}");
                </script>
            </div>
          </div>

          <div class="mdl-grid link-resource-box" style="padding-bottom: 0px; padding-top: 5px;">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #999; font-weight: bold;">Update your link: </div>
              <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5" style="padding: 5px; margin: 0px;">
                  <input type="text" name="link" id="link-resource" class="form-control link-resource formChange" value="{{p.link}}">
              </div>
          </div>

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10 customize-dec">
              <label style="color: #999;">Update your image</label>
              <input type="file" name="feature_image" id="feature_image" style="display:none;">
              <input type="text" value="" name="all_removed_images" style="display:none;" />
              {% if p.feature_image == '' %}
                <img src="/static/admin/img/no-img.png" class="img-responsive uploadImg img-feature-image" alt="Image">
              {%else%}
                <img src="/static/images/images/{{p.feature_image}}" class="img-responsive uploadImg img-feature-image" alt="Image">
              {%endif%}
            </div>
          </div>

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;display:none;">
            <input type="file" name="other_image[]" style="display:none">
          </div>


          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #999; font-weight: bold; padding: 0px 5px;">Update text: </div>
            <div class="col-xs-9 col-sm-12 col-md-12 col-lg-12" style="padding: 5px; margin: 0px;">
              <textarea name="description" id="summernote">
                {{p.description|safe}}
              </textarea>
          </div>
          <br>
          <br>
          <br>

          <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
            <button type="submit" class="btn btn-default hidden-xs buttonPost" aria-hidden="true" style="border:none;float: right; clear: both;" onclick="return check();"> Submit
            </button>
          </div>


        </form>
        {%endfor%}
        {%else%}
         <!-- add -->
          <form class="form-horizontal" action="/admin/post/add/" method="POST" id="frm" enctype="multipart/form-data">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                  <div class="alert" style="width:100%"> 
                    <center> 
                      {{ message }}
                    </center>
                  </div>
                {% endfor %}
            {% endif %}
          {% endwith %}

          <h5 class="titlePost">please feel free to make your post</h5>

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #999; font-weight: bold; padding: 0px 5px;">Title: </div>
            <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5" style="padding: 5px; margin: 0px;">
              <input type="text" name="title" id="title" class="form-control formChange">
            </div>
          </div>

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #999; font-weight: bold; padding: 0px 5px;">Select your category: </div>
            <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5" style="padding: 5px; margin: 0px;">
                {{ form.category_id(class_="form-control formChange") }}
            </div>
          </div>

          <div class="mdl-grid link-resource-box" style="padding-bottom: 0px; padding-top: 5px;">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #999; font-weight: bold; padding: 0px 5px;">Input your link: </div>
              <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5" style="padding: 5px; margin: 0px;">
                  <input type="text" name="link" id="link-resource" class="form-control link-resource formChange">
              </div>
          </div>

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10 customize-dec">
              <label style="color: #999;">Upload your image</label>
              <input type="file" name="feature_image" id="feature_image" style="display:none;">
              <img src="/static/admin/img/no-img.png" class="img-responsive uploadImg img-feature-image" style="min-width:120px;">
            </div>
          </div>

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;display:none;">
            <input type="file" name="other_image[]" style="display:none">
          </div>

          <div class="mdl-grid" style="padding-bottom: 0px; padding-top: 5px;">
            <div class="col-xs-9 col-sm-12 col-md-12 col-lg-12" style="padding: 5px; margin: 0px;">
              <div class="editable" style="margin: 0px;">
              </div>
              <textarea name="description" id="summernote"></textarea>
          </div>
          <br>
          <br>
          <br>

          <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
            <button type="submit" class="btn btn-default hidden-xs buttonPost" aria-hidden="true" style="border:none;float: right; clear: both;" onclick="return check();"> Submit
            </button>
          </div>

        </form>

        {%endif%}
        
      </div><!--end container1-->

      <div class="container1" style="padding-top: 0px;">


        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col hidden-sm hidden-md hidden-lg">
            <!-- Accent-colored raised button with ripple -->
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Share</button>
        </div>
      </div>
      </div><!--end container1-->

    </div>
  </main>
</div>

<!-- <script type="text/javascript" src="/static/admin/js/jquery-3.1.0.min.js"></script> -->

{% include '/admin/footer.html' %} 
<script type="text/javascript">
  //feature image
  $('.img-feature-image').click(function(){
    $('input[name="feature_image"]').click();
  });

   function readURL1(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('.img-feature-image').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$('input#feature_image').change(function(){
    readURL1(this);
});
</script>
<script type="text/javascript">
  // function check(){
  //   var data = $('.editable.medium-editor-insert-plugin').html();
  //   data=data.split('<div class="medium-insert-buttons"')[0];
  //   $('textarea#description').html(data);
  //   return true;
  // }


  //input only number
    $("#price").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl+A, Command+A
            (e.keyCode == 65 && ( e.ctrlKey === true || e.metaKey === true ) ) || 
             // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });

    //upload link resources
    $('.link-resource-box').addClass('hidebox');

    $('select#category_id').change(function(){
        category_id = $(this).val();
        if($('select#category_id option[value="'+category_id+'"]').html()=='resources'){
            $('.link-resource-box').removeClass('hidebox');
            // $('.link-resource-box').addClass('showbox');
        }
        else{
            // $('.link-resource-box').removeClass('showbox');
            $('.link-resource-box').addClass('hidebox');
        }
    });
</script>

<style type="text/css">
  .showbox{
    display: block;
  }
  .hidebox{
    display: none;
  }
<!-- </style> -->