<!-- 
<script type="text/javascript" src="/static/admin/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/static/admin/js/navbar.js"></script>
<script src="/static/admin/js/script.js"></script>
<script>
	if($(".alert").length>0){
		if(($(".alert").html()).indexOf("success")>=0){
			$(".alert").addClass('alert-success');
		}
		else{
			$(".alert").addClass('alert-danger');
		}
	}
</script>

</body>
</html>
 -->

 <script type="text/javascript" src="/static/admin/js/navbar.js"></script>
<script src="/static/admin/js/script.js"></script>
<script>
	if($(".alert").length>0){
		if(($(".alert").html()).indexOf("success")>=0){
			$(".alert").addClass('alert-success');
		}
		else{
			$(".alert").addClass('alert-danger');
		}
	}
</script>
</body>
</html>