{% include template_name+'/header.html' %} 

<div style="background-image: url(/static/{{template_name}}/img/Donate.JPG);" class="bannerPage">
  <h5 class="whowearePage">Donate</h5>
</div>

<div class="container1">
  <div class="row" style="padding-top: 20px;">
      {%for donate in donate%}
        <center>
          <h5 class="resourceTitles">{{donate.title}}</h6>
        </center>
        {{donate.description|safe}}
      {%endfor%}

  </div>
</div>

{% include template_name+'/footer.html' %}