{% include template_name+'/header.html' %} 


<div class="slider hide-on-small-only" style="position: relative;top: 50px">
  <ul class="slides">
    {%for post in posts%}
    <li>
      <img src="/static/images/images/{{post.feature_image}}"> <!-- random image -->
      <div class="caption left-align">
        <div class="pBanner">
          <h5 class="womanTitle">
          {{post.title}}
          </h5>
          <p class="textBan">
          
            {{post.description|striptags}}
          
          </p>
      </div>
    </li>
    {%endfor%}
  </ul>
</div>

<script type="text/javascript">
$(document).ready(function(){
      $('.slider').slider();
    });

</script>
<br>


<div class="container" style="margin-top: 30px;">
  <div class="row">
    {%for page in pages[1]%}
    <div class="col s12 m4 l4">
      <center>
        <img src="/static/{{template_name}}/img/l1.png" class="responsive-img">
        <h6 class="whoweare">{{page.title}}</h6>
      </center>
        <p>
         {{page.description|striptags|truncate(150)}}
        </p>
        <center><a class="btn ReadMore" href="/{{page.slug}}"> Learn More</a></center>
    </div>
    {%endfor%}
    {%for page in pages[2]%}
    <div class="col s12 m4 l4">
      <center>
        <img src="/static/{{template_name}}/img/l2.png" class="responsive-img">
        <h6 class="whoweare">{{page.title}}</h6>
      </center>
        <p>
         {{page.description|striptags|truncate(150)}}
        </p>
        <center><a class="btn ReadMore" href="/{{page.slug}}"> Learn More</a></center>
    </div>
    {%endfor%}
    {%for page in pages[3]%}
    <div class="col s12 m4 l4">
      <center>
        <img src="/static/{{template_name}}/img/l3.png" class="responsive-img">
        <h6 class="whoweare">{{page.title}}</h6>
      </center>
        <p>
         {{page.description|striptags|truncate(150)}}
        </p>
        <center><a class="btn ReadMore" href="/get-involve"> Learn More</a></center>
    </div>
    {%endfor%}
  </div>
</div>


<!-- <div class="container">
  <div class="row">
    {%for post in posts_top%}
      <div class="col s12 m4 l4">
        <img src="/static/images/images/{{post.feature_image}}" class="responsive-img">
        <div style="padding: 0px 10px 10px 10px;">
          <div class="backNews">
            <h6 class="textNews">
              <a href="/{{post.slug}}">
                {{post.title}}
              </a>
              </h6>
          </div>
        </div>
      </div>
      {%if loop.index%3==0%}
        <div class="row"></div>
      {%endif%}
    {%endfor%}
  </div>
</div> -->

<style type="text/css">
.centered {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  color: #333;
  font-size: 30px;
  font-weight: bold;
}
.centered:hover{
  opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.display {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
.display:hover{
  opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

img:hover + .centered {
    opacity: 1.0;
}

img:hover + .display {
    opacity: 1.0;
}

img:hover {
    opacity: 0.5;
    transition: 0.5s;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
</style>



<div class="container" style="position: relative;">
  <div class="row">
    {%for post in posts_top%}
      {%set help=1%}
      <!-- {%if loop.index==1%} -->
        <div class="col s12 m6 l6 marginBottom">
        <a href="https://womenpeacemakers.weebly.com/" target="_blank">
          <img src="/static/wpm/img/News_Events.jpg" class="responsive-img testImage">
          <div class="centered">WOMEN MAKERS BLOG</div> 
          <!-- imgSlideBig -->
          <!-- <div class="imgNews">
            <div class="backNews">
              <h6 class="textNews"><a href="/{{post.slug}}">{{post.title}}</a></h6>
            </div>
          </div> -->
        </a>
        </div>
      <!-- {%else%} -->
            {%if loop.index==2 or loop.index==4 or loop.index==6%}
        <div class="col s12 m6 l6">
          <a href="/{{post.slug}}">
          <div class="row">
            {%endif%}
            <div class="col s12 m6 l6 marginBottom" style="padding: 0px;">
              
              <!-- imgSlide -->
              <div class="imgNews">
                  <a href="/{{post.slug}}">
                    <img src="/static/images/images/{{post.feature_image}}" class="responsive-img">
                    <div class="display">{{post.title|truncate(29)}}</div>
                  </a> 
              </div>
            </div>
            {%if loop.index==3 or loop.index==5 or loop.index==6%}
          </div>
          </a>
         </div>
            {%endif%}
          
      {%endif%}
    {%endfor%}
  </div>
</div>
</div>
</div>



{% include template_name+'/footer.html' %} 