{% include template_name+'/header.html' %} 


<div style="background-image: url(/static/{{template_name}}/img/Get_Involved.JPG);" class="bannerPage hide-on-small-only">
  <h5 class="whowearePage">Get Involved</h5>
</div>

<div class="container" style="margin-top: 30px; max-width: 70%;">
  <div class="backPage" style="padding: 0px;">
    {%for page in pages[3]%}
      <!-- <h6 class="titlepage">{{page.title}}</h6> -->
     {{page.description|safe}}
    {%endfor%}

    </div>

    {%for page in pages[0]%}
      <h6 class="titlepage1">{{page.title}}</h6>
      <p class="textInvolve">{{page.description|safe}}</p>

      <div class="row">
      {%for post in post1 %}
        <div class="col s12 m4 l4">
          <img src="/static/images/images/{{post.feature_image}}" class="responsive-img">
          <center><h6 class="invloveTitle">{{post.title}}</h6></center>
          {{post.description|striptags|truncate(200)}}
          <br>
          <a href="/{{post.slug}}" style="color: #4aa1c8;">read more</a>
        </div>
        {%if loop.index%3 ==0 %}
          <div class="row"></div>
        {%endif%}
      {%endfor%}
      </div>

    {%endfor%}

    {%for page in pages[1]%}
      <h6 class="titlepage1">{{page.title}}</h6>
      <p class="textInvolve">{{page.description|safe}}</p>
      <div class="row">
      {%for post in post2 %}
        <div class="col s12 m4 l4">
          <img src="/static/images/images/{{post.feature_image}}" class="responsive-img">
          <center><h6 class="invloveTitle">{{post.title}}</h6></center>
          {{post.description|striptags|truncate(200)}}
          <br>
          <a href="/{{post.slug}}" style="color: #4aa1c8;">read more</a>
        </div>
        {%if loop.index%3 ==0 %}
          <div class="row"></div>
        {%endif%}
      {%endfor%}
      </div>
    {%endfor%}

    {%for page in pages[2]%}
      <h6 class="titlepage1">{{page.title}}</h6>
      <p class="textInvolve">{{page.description|safe}}</p>
      <div class="row">
      {%for post in post3 %}
        <div class="col s12 m4 l4">
          <img src="/static/images/images/{{post.feature_image}}" class="responsive-img">
          <center><h6 class="invloveTitle">{{post.title}}</h6></center>
          {{post.description|striptags|truncate(200)}}
          <br>
          <a href="/{{post.slug}}" style="color: #4aa1c8;">read more</a>
        </div>
        {%if loop.index%3 ==0 %}
          <div class="row"></div>
        {%endif%}
      {%endfor%}
      </div>
    {%endfor%}

  </div>

</div>








{% include template_name+'/footer.html' %} 