{% include template_name+'/header.html' %} 

<div style="background-image: url(/static/{{template_name}}/img/resources.jpg);" class="bannerPage">
  <h5 class="whowearePage">Resources</h5>
</div>

<div class="container1">
  <div class="row" style="padding-top: 20px;">
    <div style="padding: 15px 25px;">
    {%for page in pages%}
      <!-- <center><h5 class="resourceTitle">{{page.title}}</h5></center> -->
      <center>{{page.description|safe}}</center>
    {%endfor%}
    </div>

    <br>
  <!-- {% for resource in posts %}

    <div class="col s12 m3 l3 MarginNews">
      <div id="effect-5" class="effects clearfix">
        <div class="img">
          <img src="/static/images/images/{{resource.feature_image}}" alt="" class="responsive-img">
          <div class="overlay">
              <a href="{{resource.link}}" class="expand"><i class="fa fa-link" aria-hidden="true"></i></a>
              <a class="close-overlay hidden">x</a>
              <center><h6 class="absoluteTitle">{{resource.title|truncate(50)}}</h6></center>
          </div>
        </div>
      </div>
    </div>
    {%if loop.index%4 ==0 %}
      <div class="row" style="margin: 0px;"></div>
    {%endif%}

  {%endfor%} -->

    <center>
      <h5 class="resourceTitles" style="background-color: #e0dada; width: 100%; padding: 15px 0px;">publications</h5>
    </center>

    <div class="row">
      {% for resource in posts %}
      <div class="col s12 m4 l4 MarginNews">
        <img src="/static/images/images/{{resource.feature_image}}" class="responsive-img">
        <!-- <small>Date: &nbsp;

          <span class="show_date">
            {{resource.published_at}}
          </span>
          <script type="text/javascript">
            var dateTime = "{{resource.published_at}}";
            dateTime = dateTime.split(":");
            $('.show_date').html(dateTime[0]);
          </script>
        </small> -->


        <h6 class="thisTitle" style="font-family: 'bebas'; font-size: 18px;">{{resource.title}}</h6>
        {{resource.description|striptags|truncate(80)}}
        
        <p style="margin-left: 0px !important;margin-top: 10px !important">
          <a href="/{{resource.slug}}" class="readMore">Read More</a>
        </p>
      </div>
      {%endfor%}
    </div>
    

    <center>
      <h5 class="resourceTitles" style="background-color: #e0dada; width: 100%; padding: 15px 0px;">Videos</h5>
    </center>

    <div class="row">
    {% for resource in videos %}
      <div class="col s12 m4 l4 MarginNews">
        <img src="/static/images/images/{{resource.feature_image}}" class="responsive-img">
        <!-- <small>Date: &nbsp;

          <span class="show_date">
            {{resource.published_at}}
          </span>
          <script type="text/javascript">
            var dateTime = "{{resource.published_at}}";
            dateTime = dateTime.split(":");
            $('.show_date').html(dateTime[0]);
          </script>
        </small> -->


        <h6 class="thisTitle" style="font-family: 'bebas'; font-size: 18px;">{{resource.title}}</h6>
        {{resource.description|striptags|truncate(80)}}
        
        <p style="margin-left: 0px !important;margin-top: 10px !important">
          <a href="/{{resource.slug}}" class="readMore">Read More</a>
        </p>
      </div>
    {%endfor%}
    </div>

    <center>
      <h5 class="resourceTitles" style="background-color: #e0dada; width: 100%; padding: 15px 0px;">Reports</h5>
    </center>
    
    <div class="row">
      {% for resource in reports %}
      <div class="col s12 m4 l4 MarginNews">
        <img src="/static/images/images/{{resource.feature_image}}" class="responsive-img">
        <!-- <small>Date: &nbsp;

          <span class="show_date">
            {{resource.published_at}}
          </span>
          <script type="text/javascript">
            var dateTime = "{{resource.published_at}}";
            dateTime = dateTime.split(":");
            $('.show_date').html(dateTime[0]);
          </script>
        </small> -->


        <h6 class="thisTitle" style="font-family: 'bebas'; font-size: 18px;">{{resource.title}}</h6>
        {{resource.description|striptags|truncate(80)}}
        
        <p style="margin-left: 0px !important;margin-top: 10px !important">
          <a href="/{{resource.slug}}" class="readMore">Read More</a>
        </p>
      </div>
      {%endfor%}
    </div>

  </div>
</div>

{% include template_name+'/footer.html' %}