{% include template_name+'/header.html' %} 

<div style="background-image: url(img/banner.jpg);" class="bannerPage hide-on-small-only">
  <h5 class="whowearePage">what we do</h5>
</div>

<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col s12 m4 l4">
      <center>
        <i class="material-icons icons">group_add</i>
        <h6 class="whoweare">Who we are</h6>
        <p>
          The overarching framework for CPCS’ approach is anchored on the principles of demand-driven interventions that address.
        </p>
        <button class="btn ReadMore"> Read More</button>
      </center>
    </div>

    <div class="col s12 m4 l4">
      <center>
        <i class="material-icons icons">group_add</i>
        <h6 class="whoweare">Who we are</h6>
        <p>
          The overarching framework for CPCS’ approach is anchored on the principles of demand-driven interventions that address.
        </p>
        <button class="btn ReadMore"> Read More</button>
      </center>
    </div>

    <div class="col s12 m4 l4">
      <center>
        <i class="material-icons icons">group_add</i>
        <h6 class="whoweare">Who we are</h6>
        <p>
          The overarching framework for CPCS’ approach is anchored on the principles of demand-driven interventions that address.
        </p>
        <button class="btn ReadMore"> Read More</button>
      </center>
    </div>
  </div>
</div>

<div class="container1">
  <div class="paddingPage">
    <center>
      <h5 class="titleWhat">Get Involved</h5>
      <p>TextNow is committed to fostering a welcoming, accessible, respectful and inclusive environment ensuring equal access and participation for people with disabilities.</p>
    </center>
  </div>
</div>


<div class="container1">
  <div class="row">
    <div class="col s12 m6 l6">
      <div class="row" style="margin: 0px; background-color: #f5f5f5;">
        <img src="img/banner.jpg" class="responsive-img">
        <div class="HistoryBack">
          <h5 class="HistoryTitle">Gender Program</h5>
          <p>
            TextNow is committed to fostering a welcoming, accessible, respectful and inclusive environment ensuring equal access and participation for people with disabilities. We are committed to treating people with disabilities in a way that allows them to maintain their dignity and independence.
          </p>
          <button class="btn find"> Read More</button>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l6">
      <div class="row" style="margin: 0px; background-color: #f5f5f5;">
        <img src="img/banner.jpg" class="responsive-img">
        <div class="HistoryBack">
          <h5 class="HistoryTitle">Gender Program</h5>
          <p>
            TextNow is committed to fostering a welcoming, accessible, respectful and inclusive environment ensuring equal access and participation for people with disabilities. We are committed to treating people with disabilities in a way that allows them to maintain their dignity and independence.
          </p>
          <button class="btn find"> Read More</button>
        </div>
      </div>
    </div>

  </div>

</div>





{% include template_name+'/footer.html' %}