{% include template_name+'/header.html' %} 

<div style="background-image: url(img/banner.jpg);" class="bannerPage hide-on-small-only">
  <h5 class="whowearePage">Who We Are</h5>
</div>


<div class="container1">
  <div class="backPage">
    <center>
      <h6 class="titlepage">The organization</h6>
      <p class="textPage">Our technology uses a hybrid of Wi-Fi + cellular for texting and calling. This means we can offer you low-cost plans with affordable, name-brand smartphones.</p>
    </center>
  </div>

  <div class="row">
    <div class="col s12 m4 l4">
      <center> 
        <h6 class="ourVision">Our vision</h6>
      </center>
        <p>Wi-Fi can provide you with added coverage in places where cell networks don't always work.</p>
    </div>

    <div class="col s12 m4 l4">
      <center> 
        <h6 class="ourVision">Our Values</h6>
      </center>
        <h6 class="ValuesTitle">Woman are equal:</h6>
        <p>Wi-Fi can provide you with added coverage in places where cell networks don't always work.</p>
        <h6 class="ValuesTitle">Woman are equal:</h6>
        <p>Wi-Fi can provide you with added coverage in places where cell networks don't always work.</p>
        <h6 class="ValuesTitle">Woman are equal:</h6>
        <p>Wi-Fi can provide you with added coverage in places where cell networks don't always work.</p>

    </div>

    <div class="col s12 m4 l4">
      <center> 
        <h6 class="ourVision">Our Mission</h6>
      </center>
        <p>Wi-Fi can provide you with added coverage in places where cell networks don't always work.</p>
    </div>
  </div>
</div>

<div class="backWhat1">
  <div class="row" style="margin: 0px;">
    <div class="col s12 m6 l6" style="padding: 0px">
      <img src="img/banner.jpg" class="responsive-img">
    </div>
    <div class="col s12 m6 l6" style="padding: 0px">
      <div class="HistoryBack">
        <h5 class="HistoryTitle">Its History</h5>
        <p>
          TextNow is committed to fostering a welcoming, accessible, respectful and inclusive environment ensuring equal access and participation for people with disabilities. We are committed to treating people with disabilities in a way that allows them to maintain their dignity and independence. <br>
 <br>
          We believe in integration, and we are committed to meeting the needs of people with disabilities in a timely manner and creating a barrier-free environment. We will do so by removing and preventing barriers to accessibility and by meeting our accessibility requirements under Ontario’s accessibility laws. 
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container1">
  <h5 class="peopleText">It's People</h5>
  <center><p class="textPoeple">TextNow is committed to fostering a welcoming, accessible, respectful and inclusive environment ensuring equal access</p></center>
  <div class="row">
    <div class="col s12 m3 l3">
      <img src="img/banner.jpg" class="responsive-img">
      <h6 class="namePeople">SAN Vuthy</h6>
      <h6 class="position">CEO of Amoogli</h6>
    </div>

    <div class="col s12 m3 l3">
      <img src="img/banner.jpg" class="responsive-img">
      <h6 class="namePeople">SAN Vuthy</h6>
      <h6 class="position">CEO of Amoogli</h6>
    </div>

    <div class="col s12 m3 l3">
      <img src="img/banner.jpg" class="responsive-img">
      <h6 class="namePeople">SAN Vuthy</h6>
      <h6 class="position">CEO of Amoogli</h6>
    </div>

    <div class="col s12 m3 l3">
      <img src="img/banner.jpg" class="responsive-img">
      <h6 class="namePeople">SAN Vuthy</h6>
      <h6 class="position">CEO of Amoogli</h6>
    </div>
  </div>

</div>

<div class="container1">
  <h5 class="peopleText">Board of directors</h5>
  <center><p class="textPoeple">TextNow is committed to fostering a welcoming, accessible, respectful and inclusive environment ensuring equal access</p></center>
  <div class="row">
    <div class="col s12 m3 l3">
      <img src="img/banner.jpg" class="responsive-img">
      <h6 class="namePeople">SAN Vuthy</h6>
      <h6 class="position">CEO of Amoogli</h6>
    </div>

    <div class="col s12 m3 l3">
      <img src="img/banner.jpg" class="responsive-img">
      <h6 class="namePeople">SAN Vuthy</h6>
      <h6 class="position">CEO of Amoogli</h6>
    </div>

    <div class="col s12 m3 l3">
      <img src="img/banner.jpg" class="responsive-img">
      <h6 class="namePeople">SAN Vuthy</h6>
      <h6 class="position">CEO of Amoogli</h6>
    </div>

    <div class="col s12 m3 l3">
      <img src="img/banner.jpg" class="responsive-img">
      <h6 class="namePeople">SAN Vuthy</h6>
      <h6 class="position">CEO of Amoogli</h6>
    </div>
  </div>

</div>


<div class="container1">
  <h5 class="peopleText">Advisors</h5>
  <center><p class="textPoeple">TextNow is committed to fostering a welcoming, accessible, respectful and inclusive environment ensuring equal access</p></center>
  <div class="row">
    <div class="col s12 m3 l3">
      <img src="img/banner.jpg" class="responsive-img">
      <h6 class="namePeople">SAN Vuthy</h6>
      <h6 class="position">CEO of Amoogli</h6>
    </div>

    <div class="col s12 m3 l3">
      <img src="img/banner.jpg" class="responsive-img">
      <h6 class="namePeople">SAN Vuthy</h6>
      <h6 class="position">CEO of Amoogli</h6>
    </div>

    <div class="col s12 m3 l3">
      <img src="img/banner.jpg" class="responsive-img">
      <h6 class="namePeople">SAN Vuthy</h6>
      <h6 class="position">CEO of Amoogli</h6>
    </div>

    <div class="col s12 m3 l3">
      <img src="img/banner.jpg" class="responsive-img">
      <h6 class="namePeople">SAN Vuthy</h6>
      <h6 class="position">CEO of Amoogli</h6>
    </div>
  </div>

</div>

<div class="backPartner">
  <h5 class="peopleText">Partner</h5>
  <center><p class="textPoeple">TextNow is committed to fostering a welcoming, accessible, respectful and inclusive environment ensuring equal access</p></center>
  <div class="row">
    <div class="col s12 m3 l3">
      <img src="img/banner.jpg" class="responsive-img">
    </div>

    <div class="col s12 m3 l3">
      <img src="img/banner.jpg" class="responsive-img">
    </div>

    <div class="col s12 m3 l3">
      <img src="img/banner.jpg" class="responsive-img">
    </div>

    <div class="col s12 m3 l3">
      <img src="img/banner.jpg" class="responsive-img">
    </div>

  </div>

</div>

<!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>



{% include template_name+'/footer.html' %} 